body {
    display:block;
    background-color: black;
    
}

.post {
width:600px;
height:1800px;
display:float;
margin:auto;

}
.post-header {
background-color:white;
display: flex;
height:65px;
margin: 0%;
padding:0%;
}

.fa-brands {
font-size: 30px;
margin:16px;
margin-top:20px;
}

h1{
    font-size: 16px;
    margin-bottom:0px;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 20px;
    margin-top:0px;
    font-family: 'Open Sans', sans-serif;
}

.text {
display: block;
}

.fa-solid {
    font-size: 40px;
    position:relative;
    left:420px; 
    margin:16px;
}

.post-body {
display: flex;
background-color: red;
margin:0%;
}
.nature-img {
    font-size: 100%;
    width:600px;
    margin:0%;
}

.post-footer {
background-color: white;
height:225px;
display:block;
}

.fa-regular {
    font-size: 35px;
    margin:10px 0px 0px 10px;
    padding:0px;
}

.fa-bookmark {
margin-left:400px;
}

.liked-by {
    margin:20px 0px 20px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
}

.description {
    margin:20px 0px 25px 10px;
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size:16px;
}